page-page3 {.bg {
    background: linear-gradient(to bottom,#904779,#fff 100%);


}

.heading{
    color:#400D63;
    font-size: 300%;
    text-decoration: underline;
     
}
.heading2{
    color:red;

}
.p{color:blue;
    font-style: oblique; 
   }
}